<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark">
        <div class="card-body">
          <h2 class="card-title text-center text-white">{{ title }}</h2>
          <ul class="text-center list-inline">
            <li class="list-inline-item"><a routerLink="/images" class="btn btn-info">Terminal Images</a></li>
          <!--
            <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-info">Add User</a></li>
            <li class="list-inline-item"><a routerLink="/testform" class="btn btn-info">test form</a></li>
          -->
            <li class="list-inline-item"><a routerLink="/addImage" class="btn btn-info">Generate Image</a></li>
            
          </ul>
        </div>  
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>